<form *ngIf="isFormReady" [formGroup]="timeForm" (ngSubmit)="updateAvailabilityOrSchedule()" method="post" enctype="application/x-www-form-urlencoded" class="professional-update-availability-form">
  <app-validation-error [control]="timeForm" [control-label]="'The current values'"></app-validation-error>

    <div class="form-group">
      <label for="day_of_week">Day of the Week</label>
      <select id="day_of_week" formControlName="dayOfTheWeek" (change)="onDayOfWeekChange()">
        <option value=""></option>
        <option *ngFor="let dayOfTheWeek of daysOfTheWeek" [value]="dayOfTheWeek">{{ dayOfTheWeek | titlecase }}</option>
      </select>
      <app-validation-error [control]="dayOfTheWeek" [control-label]="'Day of Week'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="start_time">Start Time:</label>
      <input type="text" id="start_time" formControlName="startTime" placeholder="HH:MM"/>
      <app-validation-error [control]="startTime" [control-label]="'Start Time'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="end_time">End Time:</label>
      <input type="text" id="end_time" formControlName="endTime" placeholder="HH:MM"/>
      <app-validation-error [control]="endTime" [control-label]="'End Time'"></app-validation-error>
    </div>

  <button type="button" (click)="addToPeriods()">Add to Periods</button>

  <ng-container *ngIf="isPeriodsMoreThanOne">
    <p *ngFor="let period of periods; let i = index;">{{ period.dayOfTheWeek }} : {{ period.startTime }} - {{ period.endTime }} <span (click)="removePeriod(i)">X</span></p>
  </ng-container>

  <button type="button" (click)="resetFormAndPeriod()">Reset form</button>

  <button type="submit" [disabled]="isSubmitting">Submit</button>
</form>
