<form [formGroup]="timeForm">
  <label for="dayOfWeek">Day of the Week:</label>
  <select id="dayOfWeek" formControlName="dayOfWeek">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>

  <div [formGroup]="timeForm">
    <!-- Start Time Input -->
    <div class="form-group">
      <label for="startTime">Start Time:</label>
      <input
        type="text"
        id="startTime"
        formControlName="startTime"
        placeholder="HH:MM"
      />
      <div
        *ngIf="timeForm.get('startTime')?.hasError('required')"
        class="error-message"
      >
        Start time is required.
      </div>
      <div
        *ngIf="timeForm.get('startTime')?.hasError('formatError')"
        class="error-message"
      >
        Invalid time format. Use HH:MM.
      </div>
      <div
        *ngIf="timeForm.get('startTime')?.hasError('minTime')"
        class="error-message"
      >
        Start time must be at or after 08:00.
      </div>
    </div>

    <!-- End Time Input -->
    <div class="form-group">
      <label for="endTime">End Time:</label>
      <input
        type="text"
        id="endTime"
        formControlName="endTime"
        placeholder="HH:MM"
      />
      <div
        *ngIf="timeForm.get('endTime')?.hasError('required')"
        class="error-message"
      >
        End time is required.
      </div>
      <div
        *ngIf="timeForm.get('endTime')?.hasError('formatError')"
        class="error-message"
      >
        Invalid time format. Use HH:MM.
      </div>
      <div
        *ngIf="timeForm.get('endTime')?.hasError('maxTime')"
        class="error-message"
      >
        End time must be at or before 18:00.
      </div>
      <div
        *ngIf="timeForm.get('endTime')?.hasError('endTimeGreaterThanStartTime')"
        class="error-message"
      >
        End time cannot be before the start time.
      </div>
      <div
        *ngIf="timeForm.get('endTime')?.hasError('completeHourDifference')"
        class="error-message"
      >
        The time difference must be in complete hours.
      </div>
    </div>
  </div>




  <button type="button" (click)="addToPeriods()">Add to Periods</button>
</form>
