
<form class="search-menu" [formGroup]="searchForm" (ngSubmit)="search()">
  <select formControlName="searchType">
    <option *ngFor="let filter of searchFilter" [value]="filter.key">{{filter.label}}</option>
  </select>
  <input type="text" formControlName="searchInput">
  <button type="submit">Search</button>
</form>

<div *ngIf="entries.length > 0">
  <ul>
    <li *ngFor="let country of entries">
      {{ country.title }} <!-- Display other properties as needed -->
    </li>
  </ul>

  <div>
    <button (click)="previousPage()" [disabled]="isFirst">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="isLast">Next</button>
  </div>
</div>
