<app-search-form [is-submitting]="isSubmitting" [search-filter]="searchFilter" (searchSubmitted)="search($event)"></app-search-form>

<button>Delete</button>

<div *ngIf="entries.length > 0">
  <table>

    <thead>
      <tr>
        <th>S/N</th>
        <th>Title</th>
        <th>Code</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of entries; let i = index; trackBy: trackByFn">
        <td>{{ i }}</td>
        <td>{{ country.title }}</td>
        <td>{{ country.code }}</td>
        <td>{{ country.createdOn | date:'mediumDate' }}</td>
        <td>{{ country.updatedOn | date:'mediumDate' }}</td>
        <app-row-entry-option [entry-id]="country.id" (detailClicked)="viewDetail(country.id)"
                              (updateClicked)="updateEntry(country.id)" (checkedChanged)="handleChecked(country.id, $event)"></app-row-entry-option>
      </tr>
    </tbody>
  </table>

  <app-pagination [is-first]="isFirst" [is-last]="isLast" [current-page-number]="currentPageNumber"
                  (toNextPage)="nextPage()" (toPreviousPage)="previousPage()"></app-pagination>

</div>
