
<form class="search-menu" [formGroup]="searchForm" (ngSubmit)="search()">
  <select formControlName="searchType">
    <option *ngFor="let filter of searchFilter" [value]="filter['key']">{{filter['label']}}</option>
  </select>
  <input type="text" formControlName="searchInput">
  <button type="submit">Search</button>
</form>

<div *ngIf="entries.length > 0">
  <table>

    <thead>
      <tr>
        <th>S/N</th>
        <th>Title</th>
        <th>Code</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of entries; let i = index; trackBy: trackByFn">
        <td>{{ i }}</td>
        <td>{{ country.title }}</td>
        <td>{{ country.code }}</td>
        <td>{{ country.createdOn | date:'mediumDate' }}</td>
        <td>{{ country.updatedOn | date:'mediumDate' }}</td>
        <td>
          <button (click)="viewDetail(country.id)">View</button>
          <button (click)="updateEntry(country.id)">Update</button>
        </td>
        <td>
          <label class="custom-checkbox" [class.checked]="checked.checked">
            <input type="checkbox" (change)="handleChecked(country.id, checked.checked)" #checked >
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button *ngIf="!isFirst" (click)="previousPage()" [disabled]="isFirst">Previous</button>
    <span>Page {{ currentPageNumber }}</span>
    <button *ngIf="!isLast" (click)="nextPage()" [disabled]="isLast">Next</button>
  </div>
</div>
