



<form *ngIf="isFormReady" [formGroup]="mfaSetupForm" (ngSubmit)="setupMfa()" method="post" enctype="application/x-www-form-urlencoded" class="sign-up-form">
  <div class="form-error-message">
    {{errorMessage}}
  </div>

  <div class="form-error-message">
    {{statusMessage}}
  </div>

  <div class="form-group" *ngIf="!isCodeVerification">
    <input type ="radio" formControlName="mfaType" value="PHONE" id="mfa_type_phone"/>
    <label for="mfa_type_phone">Phone</label>

    <input type ="radio" formControlName="mfaType" value="EMAIL" id="mfa_type_email"/>
    <label for="mfa_type_email">Email</label>

    <input type ="radio" formControlName="mfaType" value="AUTHENTICATOR" id="mfa_type_authenticator"/>
    <label for="mfa_type_authenticator">Authenticator</label><br/>

    <input type ="radio" formControlName="mfaType" value="NONE" id="mfa_type_none"/>
    <label for="mfa_type_none">None</label><br/>
    <app-validation-error [control]="mfaType" [control-label]="'Mfa Type'"></app-validation-error>
  </div>



    <div class="qr-box" #qrCodeImage>
      <ng-container *ngIf="isQrVerification">
        <p *ngIf="qrCodeSecret">{{ qrCodeSecret }}</p>

      </ng-container>
    </div>

  <ng-container *ngIf="isCodeVerification">
    <p *ngIf="isVerificationCodeSent">Code has been sent</p>
    <label for="verification_code">Verification Code:</label>
    <input type="text" formControlName="code" id="verification_code"/>
    <app-validation-error [control]="code" [control-label]="'Verification code'"></app-validation-error>
    <ng-container *ngIf="!isQrVerification">
      <button (click)="resendVerificationCode()" [disabled]="isSubmitting"> Resend Verification Code </button>
    </ng-container>
    <button *ngIf="isCodeVerification && !isAllVerificationComplete" type="button" [disabled]="isSubmitting" (click)="confirmMfaSetup()">Confirm Setup</button>
  </ng-container>

  <button *ngIf="!isCodeVerification" type="submit" [disabled]="isSubmitting">Submit</button>

</form>

