<form [formGroup]="mfaSetupForm" (ngSubmit)="setupMfa()" method="post" enctype="application/x-www-form-urlencoded" class="sign-up-form">
  <div class="form-error-message">
    {{errorMessage}}
  </div>

  <div class="form-group">
    <input type ="radio" formControlName="mfaType" value="PHONE" id="mfa_type_phone"/>
    <label for="mfa_type_phone">Phone</label>

    <input type ="radio" formControlName="mfaType" value="EMAIL" id="mfa_type_email"/>
    <label for="mfa_type_email">Email</label>

    <input type ="radio" formControlName="mfaType" value="AUTHENTICATOR" id="mfa_type_authenticator"/>
    <label for="mfa_type_authenticator">Authenticator</label><br/>

    <input type ="radio" formControlName="mfaType" value="NONE" id="mfa_type_none"/>
    <label for="mfa_type_none">None</label><br/>
    <app-validation-error [control]="mfaType" [control-label]="'Mfa Type'"></app-validation-error>
  </div>

  <ng-container *ngIf="isQrVerification">
    <p *ngIf="qrCodeSecret">{{ qrCodeSecret }}</p>
    <div class="qr-code-box" #qrCodeImage></div>
  </ng-container>

  <ng-container *ngIf="isCodeVerification">
    <p *ngIf="isVerificationCodeSent">Code has been sent</p>
    <label for="verification_code">Verification Code:</label>
    <input type="text" formControlName="code" id="verification_code"/>
    <app-validation-error [control]="code" [control-label]="'Verification code'"></app-validation-error>
    <ng-container *ngIf="!isQrVerification">
      <button (click)="resendVerificationCode()" [disabled]="isSubmitting"> Resend Verification Code </button>
    </ng-container>
  </ng-container>

  <button type="submit" [disabled]="isSubmitting">Submit</button>

</form>

