<app-otp-verification *ngIf="isPreVerificationStage" (otpSubmitted)="handleVerificationCode($event)" [email-address]="$emailAddress" [phone-number]="$phoneNumber"></app-otp-verification>
<app-mfa-verification *ngIf="isMfaVerificationStage" (otpSubmitted)="handleVerificationCode($event)" [email-address]="$emailAddress" [phone-number]="$phoneNumber"></app-mfa-verification>

<form *ngIf="!isVerificationStage" [formGroup]="signInForm" (ngSubmit)="signIn()" method="post" enctype="application/x-www-form-urlencoded" class="signup-form">
  <div class="form-error-message">
    {{errorMessage}}
  </div>

  <div class="form-group">
    <label for="email_address">Email Address</label>
    <input type="email" formControlName="emailAddress" id="email_address"/>
    <app-validation-error [control]="emailAddress" [control-label]="'Email Address'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password"/>
    <app-validation-error [control]="password" [control-label]="'Password'"></app-validation-error>
  </div>

  <button type="submit" [disabled]="isSubmitting">Submit</button>

</form>

