<div>
  <h2>Country Dashboard</h2>

  <ul>
    <li><a [routerLink]="['..', 'get-details']" routerLinkActive="active">Details</a></li>
    <li><a [routerLink]="['..', 'update-details']" routerLinkActive="active">Update Details</a></li>
    <li><a [routerLink]="['..', 'update-documents']" routerLinkActive="active">Update Documents</a></li>
    <li><a [routerLink]="['..', 'update-availability']" routerLinkActive="active">Update Availability</a></li>
    <li><a [routerLink]="['..', 'update-availability-status']" routerLinkActive="active">Update Availability Status</a></li>
    <li><a [routerLink]="['..', 'request-verification']" routerLinkActive="active">Request Verification</a></li>

  </ul>
</div>
