<p>sign-up works!</p>


<form [formGroup]="signUpForm" method="post" enctype="application/x-www-form-urlencoded" class="signup-form">

  <fieldset class="form-group">
    <input type ="radio" formControlName="profile_type" value="PROFESSIONAL" id="user_type_professional"/>
    <label for="user_type_professional">Professional</label>

    <input type ="radio" formControlName="profile_type" value="USER" id="user_type_user"/>
    <label for="user_type_user">User</label><br/>
  </fieldset>

  <div class="form-group">
   </div>

  <fieldset class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" formControlName="first_name" id="first_name" showError controlName="first_name" autocomplete="off"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" formControlName="last_name" id="last_name"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="date_of_birth">Date of Birth</label>
    <input type="text" formControlName="date_of_birth" id="date_of_birth"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="email_address">Email Address</label>
    <input type="email" formControlName="email_address" id="email_address"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="number" formControlName="phone_number" id="phone_number"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="gender">Gender</label>
    <select formControlName="gender" id="gender">
      <option value=""></option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
      <option value="OTHER">Other</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" formControlName="confirm_password" id="confirm_password"/>
  </fieldset>

  <input type="hidden" formControlName="verification_type" value="EMAIL"/>

  <button type="submit">Submit</button>

</form>
