<ng-container *ngIf="isFormReady">

  <form [formGroup]="memberUpdateForm" (ngSubmit)="updateDetails()" method="post" enctype="application/x-www-form-urlencoded" class="sign-up-form">
    <div class="form-error-message">
      {{errorMessage}}
    </div>

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" formControlName="firstName" id="first_name"/>
      <app-validation-error [control]="firstName" [control-label]="'First Name'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" formControlName="lastName" id="last_name"/>
      <app-validation-error [control]="lastName" [control-label]="'Last Name'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="date_of_birth">Date of Birth</label>
      <input type="text" formControlName="dateOfBirth" id="date_of_birth"/>
      <app-validation-error [control]="dateOfBirth" [control-label]="'Date of Birth'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select formControlName="gender" id="gender">
        <option value=""></option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
      <app-validation-error [control]="gender" [control-label]="'Gender'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <textarea formControlName="address" id="address"></textarea>
      <app-validation-error [control]="address" [control-label]="'Password'"></app-validation-error>
    </div>

    <button type="submit" [disabled]="isSubmitting">Submit</button>

  </form>


</ng-container>
