<div class="">

  <ng-container *ngIf="statusMessage">
    <p> {{ statusMessage }} </p>
  </ng-container>

  <div class="form-group">
    <label for="old_password">Old Password</label>
    <input type="password" formControlName="oldPassword" id="old_password"/>
    <app-validation-error [control]="oldPassword" [control-label]="'Old Password'"></app-validation-error>
  </div>

  <app-change-password (changePassword)="updatePassword($event)" [change-password-type]="changePasswordType" [is-submitting]="isSubmitting"></app-change-password>

</div>
