<form *ngIf="isFormReady" [formGroup]="updateDetailsForm" (ngSubmit)="updateDetails()" method="post" enctype="application/x-www-form-urlencoded" class="sign-up-form">
  <div class="form-error-message">
    {{errorMessage}}
  </div>

  <div class="form-group">
    <label for="professional_type">Professional Type</label>
    <select formControlName="professionalType" id="professional_type">
      <option value=""></option>
      <option *ngFor="let type of professionalTypes" value="type"> {{ type | titlecase }} </option>
    </select>
    <app-validation-error [control]="professionalType" [control-label]="'Professional Type'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <select formControlName="title" id="title">
      <option value=""></option>
      <option *ngFor="let title of professionalTitles" value="title.name"> {{ title.label }} </option>
    </select>
    <app-validation-error [control]="title" [control-label]="'Title'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="qualification_type">Qualification Type</label>
    <select formControlName="qualificationType" id="qualification_type">
      <option value=""></option>
      <option *ngFor="let type of qualificationTypes" value="type"> {{ type | titlecase }} </option>
    </select>
    <app-validation-error [control]="qualificationType" [control-label]="'Qualification Type'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <select id="country" name="country">
      <option value=""></option>
      <option *ngFor="let country of countries" [value]="country.id">{{ country.title }}</option>
    </select>
    <app-validation-error [control]="country" [control-label]="'Country'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="years_of_experience">Years of Experience</label>
    <input type="text" formControlName="yearsOfExperience" id="years_of_experience"/>
    <app-validation-error [control]="yearsOfExperience" [control-label]="'Years of Experience'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="languages_spoken">Languages Spoken</label>
    <input type="text" formControlName="languagesSpoken" id="languages_spoken"/>
    <app-validation-error [control]="languagesSpoken" [control-label]="'Languages Spoken'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="area_of_expertise">Area of Expertise</label>
    <textarea formControlName="areaOfExpertise" id="area_of_expertise"></textarea>
    <app-validation-error [control]="areaOfExpertise" [control-label]="'Area of Expertise'"></app-validation-error>
  </div>


  <button type="submit" [disabled]="isSubmitting">Submit</button>

</form>

