<div *ngIf="isFormReady" class="">

  <form>
    <label [for]="fileId">{{ controlLabel }}</label>
    <input type="file" [formControl]="control" [id]="fileId" (input)="upload(elem, control, fileConstraints)" #elem/>
    <ng-container *ngIf="uploadMessage">
      <p>{{ uploadMessage }}</p>
    </ng-container>
    <app-validation-error [control]="control" [control-label]="controlLabel" [control-options]="fileConstraints"></app-validation-error>
    <button type="button" (click)="deleteFile(elem)">Delete</button>
    <button type="button" (click)="cancelUpload(elem)">Cancel</button>
  </form>

  <button type="button" *ngIf="canDownloadOrView && fileNameOrUrl && readyForDownload()" (click)="downloadOrView(fileNameOrUrl, fileKey)">Download</button>
</div>


