<div class="forgot-password-container">
  <div class="form-message">
    {{errorMessage}}
  </div>

  <div [@fadeInOut]="'isDetailValid'" *ngIf="!isDetailValid" class="email-address-input-container">
    <form>
      <label for="email_address">Email Address:</label>
      <input type="text" [formControl]="emailAddress" id="email_address"/>
      <app-validation-error [control]="emailAddress" [control-label]="'Email Address'"></app-validation-error>
      <button (click)="submit($event)">Submit</button>
    </form>
  </div>

  <div [@fadeInOut]="'isDetailValid'" *ngIf="isDetailValid" class="forgot-password-code-verification-input-container">
    <form>
      <label for="verification_code">Verification Code:</label>
      <input type="text" [formControl]="verificationCode" id="verification_code"/>
      <app-validation-error [control]="verificationCode" [control-label]="'Verification Code'"></app-validation-error>
      <button (click)="submitOtp($event)">Submit</button>
    </form>
  </div>

</div>



