<p>I am here too.</p>

<div class="forgot-password-container">
  <div class="form-message">
    {{errorMessage}}
  </div>

  <div *ngIf="!isDetailValid" class="email-address-input-container" [@fadeInOut]="isDetailValid ? 'visible' : 'hidden'">
    <form>
      <label for="email_address">Email Address:</label>
      <input type="text" [formControl]="emailAddress" id="email_address"/>
      <app-validation-error [control]="emailAddress" [control-label]="'Email Address'"></app-validation-error>
      <button (click)="submit($event)">Submit</button>
    </form>
  </div>

  <div *ngIf="isDetailValid" class="forgot-password-code-verification-input-container" [@fadeInOut]="isDetailValid ? 'visible' : 'hidden'">
    <form>
      <label for="verification_code">Verification Code:</label>
      <input type="text" [formControl]="verificationCode" id="verification_code"/>
      <app-validation-error [control]="verificationCode" [control-label]="'Verification Code'"></app-validation-error>
      <button (click)="submitOtp($event)">Submit</button>
    </form>
  </div>

  <app-change-password *ngIf="isChangePasswordStage" (changePassword)="changePassword($event)" [change-password-type]="changePasswordType"></app-change-password>

</div>



