<div>
  {{ errorMessage }}
</div>

<ng-container *ngIf="mfaStatus">
  <p>Multi Factor Authentication Status : {{ mfaStatus.enabled ? 'Enabled' : 'Disabled' }}</p>

  <ng-container *ngIf="mfaStatus.mfaType != MfaType.NONE">
    The Multi Factor Authentication (MFA) Type : {{ capitalize(mfaStatus.mfaType) }}
  </ng-container>

  <button *ngIf="!mfaStatus.enabled" (click)="reEnableOrDisableMfa(true)">Enable</button>

  <button *ngIf="mfaStatus.enabled" (click)="reEnableOrDisableMfa(false)">Disable</button>
</ng-container>
