<div class="mfa-input-container">
  <div class="form-message">
    {{errorMessage}}
  </div>

  <form>
    <p>{{verificationMessage}}</p>
    <label for="verification_code">Verification Code:</label>
    <input type="text" [formControl]="otp" id="verification_code"/>
    <app-validation-error [control]="otp" [control-label]="'Verification code'"></app-validation-error>
    <button *ngIf="canResendCode" (click)="resendOtp()" [disabled]="isSubmitting"> Resend Verification Code </button>
    <button (click)="submit($event)">Submit</button>
  </form>
</div>

